.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 10vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-logo {
  width: 170px;
  height: 160px;
  cursor: pointer;
}

.icon-container {
  margin-right: 40px;
  display: flex;
}

.iconn {
  font-size: 22px;
}

.span-item {
  display: block;
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 11px;
  text-align: center;
  position: relative;
  left: -18px;
  top: -1px;
  color: white;
}

.cal-btn {
  background-color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 500px) {
  .header-container {
    height: 7vh;
  }

  .header-logo {
    width: 90px;
    height: 80px;
  }

  .icon-container {
    margin-right: 30px;
  }

  .iconn {
    font-size: 15px;
  }

  .span-item {
    font-size: 9px;
    left: -14px;
    top: -3px;
    width: 12px;
    height: 12px;
  }
}
